In [1]:
# !pip install pandas
# pip install geocoder.

import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_excel('district-wise-rainfall-data-for-india-2014.xlsx')

In [3]:
df

,INDIAN_STATES_NAME,DISTRICTS_NAME,﻿DATE,FREQUENCY,VARIABLE_NAME,VALUE,VARIABLE_NOTES
0,Assam,Goalpara,2012-06,Monthly,Rainfall (mm.),797.9,The District Rainfall in millimeters are the ...
1,Jharkhand,Hazaribagh,2013-10,Monthly,Departures of rainfall (%),201.0,% Dep. are the Departures of rainfall from the...
2,Jharkhand,Hazaribagh,2016-01,Monthly,Departures of rainfall (%),-4.0,% Dep. are the Departures of rainfall from the...
3,Jharkhand,Hazaribagh,2015-06,Monthly,Departures of rainfall (%),64.0,% Dep. are the Departures of rainfall from the...
4,Assam,Karbi Anglong,2017-02,Monthly,Departures of rainfall (%),-73.0,% Dep. are the Departures of rainfall from the...
...,...,...,...,...,...,...,...
189425,Bihar,Munger,2009-03,Monthly,Rainfall (mm.),353.5,The District Rainfall in millimeters are the ...
189426,Bihar,Munger,2017-12,Monthly,Rainfall (mm.),0.0,The District Rainfall in millimeters are the ...
189427,Bihar,Saharsa,2008-05,Monthly,Rainfall (mm.),32.6,The District Rainfall in millimeters are the ...
189428,Bihar,Saharsa,2019-12,Monthly,Rainfall (mm.),7.2,The District Rainfall in millimeters are the ...
189429,Bihar,Saharsa,2010-07,Monthly,Departures of rainfall (%),34.0,% Dep. are the Departures of rainfall from the...

In [4]:
# Find a unique districts name

df['DISTRICTS_NAME'].unique()

array(['Goalpara', 'Hazaribagh', 'Karbi Anglong', 'Raigarh', 'Chittoor',
       'Katni', 'Medak', 'West Godavari', 'West Siang', 'Karimganj',
       'Nagaon', 'Bhabua', 'Madhubani', 'Rohtas', 'Saharsa',
       'West Champaran', 'Durg', 'Janjgir - Champa', 'Cuddapah',
       'Nellore', 'Sonipat', 'Mandi', 'Udhampur', 'Doda', 'North Goa',
       'Ahmedabad', 'Kozhikode', 'Broach', 'Dahod', 'Wayanad',
       'Lakshadweep', 'Kutch', 'Mehsana', 'Srinagar', 'Rajkot',
       'Sabarkantha', 'Bhagalpur', 'Gopalganj', 'Jahanabad', 'Munger',
       'Amreli', 'Dangs', 'Narmada', 'Malappuram', 'Palakkad', 'Banswara',
       'Balaghat', 'Nasik', 'Bhilwara', 'Bikaner', 'Gwalior', 'Harda',
       'Bokaro', 'Sangli', 'Satara', 'Lohardaga', 'Khandwa',
       'Bangalore Rural', 'Dausa', 'Chikmagalur', 'Satna', 'Sagar',
       'Sheopur', 'Vidisha', 'Krishna', 'Kaithal', 'Vishakhapatnam',
       'Siwan', 'Supaul', 'East Siang', 'Badgam', 'Pulwama', 'Gumla',
       'Santhal Parganas', 'Bidar', 'Bijapur', 'Dharwad', 'Fatehabad',
       'Madhepura', 'Chhatarpur', 'Chhindwara', 'Kurnool', 'Guna',
       'Vizianagaram', 'Warangal', 'Vaishali', 'Lohit', 'Lower Subansiri',
       'Karnal', 'Kurukshetra', 'Dibrugarh', 'Koderma', 'Mahasamund',
       'Nalbari', 'Papumpara', 'Barpeta', 'Jammu', 'Tawang', 'Chandigarh',
       'Upper Subansiri', 'Rohtak', 'Kamrup Rural', 'Koriya',
       'N. C. Hills', 'Adilabad', 'Anantapur', 'Kendrapara', 'Dhubri',
       'Araria', 'East Champaran', 'Kishanganj', 'Purnia', 'Dantewada',
       'Dhamtari', 'Kawardha', 'Diu', 'Bhavnagar', 'Kheda', 'Porbandar',
       'Bhiwani', 'Kullu', 'Lahaul And Spiti', 'Anantnag',
       'West Singbhum', 'Sirsa', 'Gadag', 'Mandya', 'Mysore', 'Gulbarga',
       'Hassan', 'Alapuzha', 'Chamarajanagar', 'Bagalkote', 'Bhopal',
       'Dindori', 'Jhabua', 'Morena', 'Narsinghpur', 'Rewa', 'Shajapur',
       'Umaria', 'Beed', 'Jalgaon', 'Nanded', 'Raigad', 'Thane', 'Wardha',
       'East Khasi Hills', 'Tuensang', 'Delhi', 'Cuttack',
       'Jagatsinghpur', 'Mayurbhanj', 'Nandurbar', 'Sambalpur',
       'Jabalpur', 'Patna', 'Khammam', 'Bathinda',
       'North and Middle Andaman', 'Guntur', 'Prakasam', 'Dibang Valley',
       'Tirap', 'Bongaigaon', 'Lakhimpur', 'Sonitpur', 'Bhojpur',
       'Muzaffarpur', 'Saran', 'Bastar', 'Jashpur', 'Kanker',
       'Rajnandgaon', 'Anand', 'Gandhinagar', 'Navsari', 'Surendranagar',
       'Hisar', 'Jhajjar', 'Panchkula', 'Panipat', 'Chamba', 'Kangra',
       'Sirmaur', 'Solan', 'Kathua', 'Kupwara', 'Dhanbad',
       'East Singhbhum', 'Pakur', 'Palamau', 'Bangalore Urban',
       'Faridabad', 'Kokrajhar', 'Jamui', 'Chitradurga',
       'Dakshin Kannada', 'Haveri', 'Kodagu', 'Shimoga', 'Ernakulam',
       'Idukki', 'Pathanamthitta', 'Barwani', 'Betul', 'Datia',
       'Hoshangabad', 'Khargone', 'Mandla', 'Raisen', 'Sehore', 'Akola',
       'Chandrapur', 'Dhule', 'Latur', 'Osmanabad', 'Solapur', 'Koppal',
       'Uttar Kannada', 'Kottayam', 'Thrissur', 'West Kameng',
       'Begusarai', 'Gaya', 'Gajapati', 'Banaskantha', 'Jamnagar',
       'Panchmahal', 'Buxar', 'Dewas', 'Katihar', 'Valsad', 'Nalanda',
       'Srikakulam', 'Belgaum', 'East Kameng', 'Sitamarhi', 'Cachar',
       'Bilaspur', 'Hailakandi', 'Auraiya', 'Nicobar', 'Hyderabad',
       'Upper Siang', 'Morigaon', 'Tinsukia', 'Darbhanga', 'Balrampur',
       'Mumbai', 'Sawai Madhopur', 'Parbhani', 'Firozpur', 'Krishnagiri',
       'Dungarpur', 'West Tripura', 'Jalore', 'Jhalawar', 'Kalahandi',
       'Theni', 'Koraput', 'Karauli', 'Kota', 'Nayagarh', 'Puri',
       'Tirunelveli', 'Puducherry', 'Tiruvallur', 'Imphal East', 'Indore',
       'Ludhiana', 'Dhenkanal', 'Surguja', 'Kohima', 'Rajgarh', 'Tonk',
       'Balasore', 'Sidhi', 'Tikamgarh', 'Tumkur', 'Ropar', 'Sangrur',
       'Amaravati', 'Erode', 'Karur', 'Shahjahanpur', 'Sonbhadra',
       'Sultanpur', 'Unnao', 'Varanasi', 'Almora', 'Sant Kabir Nagar',
       'Banka', 'Barnala', 'Bishnupur', 'Sheohar', 'Simdega',
       'South Sikkim', 'South Goa', 'Tamenglong', 'Thoubal', 'Garhwa',
       'Kannauj', 'Kaushambi', 'Karimnagar', 'Tuticorin', 'Faizabad',
       'Farrukhabad', 'Virudhunagar', 'North Tripura', 'Agra',
       'Sri Ganganagar', 'Jhansi', 'Ratnagiri', 'Nuapada', 'Jajpur',
       'Godda', 'Dadra & Nagar Haveli', 'Dhar', 'Vadodara', 'Sahebganj',
       'Junagarh', 'Nagpur', 'Coimbatore', 'Ambedkar Nagar', 'Dindigul',
       'Fatehpur', 'Bareilly', 'Jaunpur', 'Mansa', 'Mumbai Suburban',
       'Tapi', 'Udalguri', 'Baramulla', 'Chandel', 'Chirang',
       'North West Delhi', 'Palwal', 'West Midnapore', 'Daman', 'Dhalai',
       'Imphal West', 'Karaikal', 'Kurung Kumey', 'Mewat', 'West Sikkim',
       'Sahuji MaharajÃ¢ Nagar', 'Sant Ravidas Nagar', 'Shravasti',
       'Siddharth Nagar', 'Sitapur', 'Chamoli', 'Sukma', 'Surajpur',
       'Morbi', 'Devbhoomi Dwarka', 'Agar-Malwa', 'Chhota Udepur',
       'Mahisagar', 'Balod', 'Kondagaon', 'Mungeli', 'Aravalli',
       'Kalaburgi', 'Vijayapura', 'Palghar', 'Toothukudi', 'Baloda Bazar',
       'Amethi', 'Bemetara', 'Gir Somnath', 'Kasargod', 'Nawarangpur',
       'Belagavi', 'Bandipore', 'East Sikkim', 'South Delhi', 'Wokha',
       'Ukhrul', 'Lakhisarai', 'Lawngtlai', 'Narayanpur', 'Nawada',
       'New Delhi', 'North East Delhi', 'Poonch', 'Ramban', 'Dumka',
       'Ganderbal', 'Jamtara', 'Kanshi Ram Nagar', 'Kargil', 'Kiphire',
       'Lunglei', 'Mahe', 'Ramgarh', 'Saiha', 'Seraikela-Kharsawan',
       'Mamit', 'Mokokchung', 'Sas Nagar', 'Serchhip', 'South Andaman',
       'Tiruppur', 'West Garo Hills', 'Yanam', 'Yadgir', 'Kulgam',
       'Mahoba', 'Burhanpur', 'Chandauli', 'Bhadrak', 'Pratapgarh',
       'Alirajpur', 'Rajouri', 'Anjaw', 'Ashoknagar', 'Ramanagara',
       'Samba', 'Chatra', 'Chikballapura', 'Shopian', 'East Delhi',
       'Kallakurichi', 'Thenkasi', 'J Bhupalpally', 'Jangaon',
       'Mahabubabad', 'Mancherial', 'Nagarkurnool', 'Nirmal',
       'Sangareddy', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Y Bhuvanagiri', 'Hapur',
       'Chitrakoot', 'Jogulamba Gadwal', 'Kumaram Bheem', 'Naranyanpet',
       'PEDDAPALLE', 'Rajanna Sircilla', 'Jorhat', 'Jhunjhunu', 'Jodhpur',
       'Seoni', 'Davangere', 'Bodhgarh', 'Bolangir', 'Kolar', 'Ujjain',
       'Udupi', 'Ajmer', 'Kasaragod', 'Kollam', 'Rewari', 'Aurangabad',
       'Kinnaur', 'Thiruvananthapuram', 'Una', 'Ganjam', 'Giridih',
       'Gadchiroli', 'Ranchi', 'Patan', 'Khagaria', 'Ambala', 'Bellary',
       'Jind', 'Darrang', 'Korba', 'Ladakh (Leh)', 'North Baramula',
       'Bhind', 'Mandsaur', 'Ratlam', 'Shahdol', 'Gondia', 'Pune',
       'Jalna', 'South Garo Hills', 'Nalgonda', 'Gautam Budh Nagar',
       'Hingoli', 'Kamrup Metropolitan', 'Khunti', 'Kolasib', 'Kolkata',
       'Latehar', 'Lower Dibang Valley', 'Ri Bhoi', 'Reasi', 'Sheikhpura',
       'Singrauli', 'South West Delhi', 'Tarn Taran', 'West Delhi',
       'West Khasi Hills', 'Gariaband', 'Botad', 'Kabirdham',
       'East Midnapore', 'Shrawasti Nagar', 'Sambhal', 'Shamli',
       'B Kothagudem', 'Jagtial', 'M Malkajgiri', 'Siddipet',
       'Pithoragarh', 'Rudraprayag', 'Udham Singh Nagar', 'Uttarkashi',
       'Bankura', 'Birbhum', 'Burdwan', 'Nawapara', 'Longleng', 'Paren',
       'Zunheboto', 'Garhwal Pauri', 'Kistwar', 'Deogarh', 'Ranipet',
       'Chengalpattu', 'Tirupattur', 'Mulugu', 'Cooch Behar', 'Midnapore',
       'Murshidabad', 'Nadia', 'Dhemaji', 'Champhai', 'Bhandara', 'Arwal',
       'Baragarh', 'Bageshwar', 'Darjeeling', 'Hooghly', 'Howrah',
       'Jalpaiguri', 'Malda', 'North 24 Parganas', 'North Dinajpur',
       'Purulia', 'South 24 Parganas', 'South Dinajpur', 'Mahbubnagar',
       'Rangareddy', 'Hamirpur', 'Gurdaspur', 'Hoshiarpur', 'Muktsar',
       'Alwar', 'Nawanshahar', 'Patiala', 'Bharatpur', 'Chittorgarh',
       'Churu', 'Jalandhar', 'Hanumangarh', 'Jaipur', 'Sonepur',
       'Champawat', 'Dehradun', 'Pauri Garhwal', 'Garhwal Tehri',
       'Haridwar', 'Nainital', 'Kushi Nagar', 'Lalitpur', 'Lucknow',
       'Mahamaya Nagar', 'Maharajganj', 'Mainpuri', 'Mathura', 'Mau',
       'Muzaffarnagar', 'Pilibhit', 'Kannur', 'Phek', 'Kandhamal',
       'Malkangiri', 'Rayagada', 'Amritsar', 'Neemuch', 'Washim',
       'Buldhana', 'Jaintia Hills', 'Angul', 'Keonjhar', 'East Godavari',
       'Sibsagar', 'Churachandpur', 'Aizwal', 'Jharsuguda', 'Khurda',
       'Sundargarh', 'Fatehgarh Sahib', 'Baran', 'Bundi', 'Dholpur',
       'Rajsamand', 'Deoria', 'Etah', 'Bahraich', 'Ballia', 'Moga',
       'Barmer', 'South Tripura', 'Sivaganga', 'Thanjavur', 'Aligarh',
       'Madurai', 'Nagapattinam', 'Kanchipuram', 'Chhimtuipui', 'Bijnor',
       'Firozabad', 'Ghaziabad', 'Bulandshahr', 'Ghazipur', 'Gorakhpur',
       'Baghpat', 'Banda', 'Barabanki', 'Allahabad', 'Tiruvannamalai',
       'Gonda', 'Basti', 'Vellore', 'Azamgarh', 'Villupuram', 'Badaun',
       'Nilgiri', 'Ramanathapuram', 'Namakkal', 'Udaipur', 'Cuddalore',
       'Salem', 'Tiruvarur', 'Trichy', 'Dharmapuri', 'East Garo Hills',
       'Pudukkottai', 'Jaisalmer', 'Kolhapur', 'Sindhudurg', 'Senapati',
       'Mon', 'Sirohi', 'Perambalur', 'Sikar', 'Kanyakumari', 'Sikkim',
       'Pali', 'Chennai', 'Nagaur', 'Etawah', 'Baksa', 'Deoghar',
       'Anuppur', 'Ariyalur', 'Dimapur', 'North Sikkim', 'North Delhi',
       'Nabarangpur', 'Shivpuri', 'Faridkot', 'Ahmednagar', 'Kapurthala',
       'Nizamabad', 'Mahendragarh', 'Yamunanagar', 'Simla', 'Raichur',
       'Damoh', 'Panna', 'Surat', 'Gurgaon', 'Yavatmal', 'Samastipur',
       'Changlang', 'Golaghat', 'Raipur', 'Kheri', 'Meerut', 'Mirzapur',
       'Moradabad', 'Raebareli', 'Rampur', 'Saharanpur', 'Jalaun',
       'Jyotiba Phule Nagar', 'Kanpur City', 'Kanpur Dehat', 'Hardoi'],
      dtype=object)

In [5]:
# Nominatim geocoder is a free, open-source address search engine that you can run on your own computer, even without an Internet connection.
# Nominatim API cannot handle this huge city_list So, we can break into small List and then perform operation to extract longitude and latitude data. 


#city_list = ['Goalpara', 'Hazaribagh', 'Karbi Anglong', 'Raigarh', 'Chittoor','Katni', 'Medak', 'West Godavari', 'West Siang', 'Karimganj',
#       'Nagaon', 'Bhabua', 'Madhubani', 'Rohtas', 'Saharsa','West Champaran', 'Durg', 'Janjgir - Champa', 'Cuddapah',
#       'Nellore', 'Sonipat', 'Mandi', 'Udhampur', 'Doda', 'North Goa','Ahmedabad', 'Kozhikode', 'Broach', 'Dahod', 'Wayanad',
#       'Lakshadweep', 'Kutch', 'Mehsana', 'Srinagar', 'Rajkot','Sabarkantha', 'Bhagalpur', 'Gopalganj', 'Jahanabad', 'Munger',
#       'Amreli', 'Dangs', 'Narmada', 'Malappuram', 'Palakkad', 'Banswara','Balaghat', 'Nasik', 'Bhilwara', 'Bikaner', 'Gwalior', 'Harda',
#       'Bokaro', 'Sangli', 'Satara', 'Lohardaga', 'Khandwa','Bangalore Rural', 'Dausa', 'Chikmagalur', 'Satna', 'Sagar',
#       'Sheopur', 'Vidisha', 'Krishna', 'Kaithal', 'Vishakhapatnam','Siwan', 'Supaul', 'East Siang', 'Badgam', 'Pulwama', 'Gumla',
#       'Santhal Parganas', 'Bidar', 'Bijapur', 'Dharwad', 'Fatehabad','Madhepura', 'Chhatarpur', 'Chhindwara', 'Kurnool', 'Guna',
#       'Vizianagaram', 'Warangal', 'Vaishali', 'Lohit', 'Lower Subansiri','Karnal', 'Kurukshetra', 'Dibrugarh', 'Koderma', 'Mahasamund',
#       'Nalbari', 'Papumpara', 'Barpeta', 'Jammu', 'Tawang', 'Chandigarh','Upper Subansiri', 'Rohtak', 'Kamrup Rural', 'Koriya',
#       'N. C. Hills', 'Adilabad', 'Anantapur', 'Kendrapara', 'Dhubri','Araria', 'East Champaran', 'Kishanganj', 'Purnia', 'Dantewada',
#       'Dhamtari', 'Kawardha', 'Diu', 'Bhavnagar', 'Kheda', 'Porbandar','Bhiwani', 'Kullu', 'Lahaul And Spiti', 'Anantnag','West Singbhum', 'Sirsa', 'Gadag', 'Mandya', 'Mysore', 'Gulbarga',
#      'Hassan', 'Alapuzha', 'Chamarajanagar', 'Bagalkote', 'Bhopal','Dindori', 'Jhabua', 'Morena', 'Narsinghpur', 'Rewa', 'Shajapur',
#       'Umaria', 'Beed', 'Jalgaon', 'Nanded', 'Raigad', 'Thane', 'Wardha','East Khasi Hills', 'Tuensang', 'Delhi', 'Cuttack',
#       'Jagatsinghpur', 'Mayurbhanj', 'Nandurbar', 'Sambalpur','Jabalpur', 'Patna', 'Khammam', 'Bathinda','North and Middle Andaman', 'Guntur', 'Prakasam', 'Dibang Valley',
#      'Tirap', 'Bongaigaon', 'Lakhimpur', 'Sonitpur', 'Bhojpur','Muzaffarpur', 'Saran', 'Bastar', 'Jashpur', 'Kanker','Rajnandgaon', 'Anand', 'Gandhinagar', 'Navsari', 'Surendranagar',
#       'Hisar', 'Jhajjar', 'Panchkula', 'Panipat', 'Chamba', 'Kangra','Sirmaur', 'Solan', 'Kathua', 'Kupwara', 'Dhanbad','East Singhbhum', 'Pakur', 'Palamau', 'Bangalore Urban',
#       'Faridabad', 'Kokrajhar', 'Jamui', 'Chitradurga','Dakshin Kannada', 'Haveri', 'Kodagu', 'Shimoga', 'Ernakulam','Idukki', 'Pathanamthitta', 'Barwani', 'Betul', 'Datia',
#       'Hoshangabad', 'Khargone', 'Mandla', 'Raisen', 'Sehore', 'Akola','Chandrapur', 'Dhule', 'Latur', 'Osmanabad', 'Solapur', 'Koppal',
#       'Uttar Kannada', 'Kottayam', 'Thrissur', 'West Kameng','Begusarai', 'Gaya', 'Gajapati', 'Banaskantha', 'Jamnagar',
#       'Panchmahal', 'Buxar', 'Dewas', 'Katihar', 'Valsad', 'Nalanda','Srikakulam', 'Belgaum', 'East Kameng', 'Sitamarhi', 'Cachar',
#       'Bilaspur', 'Hailakandi', 'Auraiya', 'Nicobar', 'Hyderabad','Upper Siang', 'Morigaon', 'Tinsukia', 'Darbhanga', 'Balrampur','Mumbai', 'Sawai Madhopur', 'Parbhani', 'Firozpur', 'Krishnagiri',
#       'Dungarpur', 'West Tripura', 'Jalore', 'Jhalawar', 'Kalahandi','Theni', 'Koraput', 'Karauli', 'Kota', 'Nayagarh', 'Puri','Tirunelveli', 'Puducherry', 'Tiruvallur', 'Imphal East', 'Indore',
#       'Ludhiana', 'Dhenkanal', 'Surguja', 'Kohima', 'Rajgarh', 'Tonk','Balasore', 'Sidhi', 'Tikamgarh', 'Tumkur', 'Ropar', 'Sangrur','Amaravati', 'Erode', 'Karur', 'Shahjahanpur', 'Sonbhadra','Sultanpur', 'Unnao', 'Varanasi', 'Almora', 'Sant Kabir Nagar',
#       'Banka', 'Barnala', 'Bishnupur', 'Sheohar', 'Simdega','South Sikkim', 'South Goa', 'Tamenglong', 'Thoubal', 'Garhwa','Kannauj', 'Kaushambi', 'Karimnagar', 'Tuticorin', 'Faizabad',
#       'Farrukhabad', 'Virudhunagar', 'North Tripura', 'Agra','Sri Ganganagar', 'Jhansi', 'Ratnagiri', 'Nuapada', 'Jajpur',
#       'Godda', 'Dadra & Nagar Haveli', 'Dhar', 'Vadodara', 'Sahebganj','Junagarh', 'Nagpur', 'Coimbatore', 'Ambedkar Nagar', 'Dindigul','Fatehpur', 'Bareilly', 'Jaunpur', 'Mansa', 'Mumbai Suburban',
#       'Tapi', 'Udalguri', 'Baramulla', 'Chandel', 'Chirang','North West Delhi', 'Palwal', 'West Midnapore', 'Daman', 'Dhalai','Imphal West', 'Karaikal', 'Kurung Kumey', 'Mewat', 'West Sikkim',
#       'Sahuji MaharajÃ¢ Nagar', 'Sant Ravidas Nagar', 'Shravasti','Siddharth Nagar', 'Sitapur', 'Chamoli', 'Sukma', 'Surajpur','Morbi', 'Devbhoomi Dwarka', 'Agar-Malwa', 'Chhota Udepur',
#       'Mahisagar', 'Balod', 'Kondagaon', 'Mungeli', 'Aravalli','Kalaburgi', 'Vijayapura', 'Palghar', 'Toothukudi', 'Baloda Bazar','Amethi', 'Bemetara', 'Gir Somnath', 'Kasargod', 'Nawarangpur',
#       'Belagavi', 'Bandipore', 'East Sikkim', 'South Delhi', 'Wokha','Ukhrul', 'Lakhisarai', 'Lawngtlai', 'Narayanpur', 'Nawada','New Delhi', 'North East Delhi', 'Poonch', 'Ramban', 'Dumka',
#       'Ganderbal', 'Jamtara', 'Kanshi Ram Nagar', 'Kargil', 'Kiphire','Lunglei', 'Mahe', 'Ramgarh', 'Saiha', 'Seraikela-Kharsawan','Mamit', 'Mokokchung', 'Sas Nagar', 'Serchhip', 'South Andaman',
#       'Tiruppur', 'West Garo Hills', 'Yanam', 'Yadgir', 'Kulgam','Mahoba', 'Burhanpur', 'Chandauli', 'Bhadrak', 'Pratapgarh','Alirajpur', 'Rajouri', 'Anjaw', 'Ashoknagar', 'Ramanagara','Samba', 'Chatra', 'Chikballapura', 'Shopian', 'East Delhi',
#       'Kallakurichi', 'Thenkasi', 'J Bhupalpally', 'Jangaon','Mahabubabad', 'Mancherial', 'Nagarkurnool', 'Nirmal','Sangareddy', 'Suryapet', 'Vikarabad', 'Wanaparthy','Warangal Rural', 'Warangal Urban', 'Y Bhuvanagiri', 'Hapur',
#       'Chitrakoot', 'Jogulamba Gadwal', 'Kumaram Bheem', 'Naranyanpet','PEDDAPALLE', 'Rajanna Sircilla', 'Jorhat', 'Jhunjhunu', 'Jodhpur','Seoni', 'Davangere', 'Bodhgarh', 'Bolangir', 'Kolar', 'Ujjain',
#       'Udupi', 'Ajmer', 'Kasaragod', 'Kollam', 'Rewari', 'Aurangabad','Kinnaur', 'Thiruvananthapuram', 'Una', 'Ganjam', 'Giridih','Gadchiroli', 'Ranchi', 'Patan', 'Khagaria', 'Ambala', 'Bellary','Jind', 'Darrang', 'Korba', 'Ladakh (Leh)', 'North Baramula','Bhind', 'Mandsaur', 'Ratlam', 'Shahdol', 'Gondia', 'Pune','Jalna', 'South Garo Hills', 'Nalgonda', 'Gautam Budh Nagar',
#       'Hingoli', 'Kamrup Metropolitan', 'Khunti', 'Kolasib', 'Kolkata','Latehar', 'Lower Dibang Valley', 'Ri Bhoi', 'Reasi', 'Sheikhpura','Singrauli', 'South West Delhi', 'Tarn Taran', 'West Delhi',
#       'West Khasi Hills', 'Gariaband', 'Botad', 'Kabirdham','East Midnapore', 'Shrawasti Nagar', 'Sambhal', 'Shamli','B Kothagudem', 'Jagtial', 'M Malkajgiri', 'Siddipet','Pithoragarh', 'Rudraprayag', 'Udham Singh Nagar', 'Uttarkashi','Bankura', 'Birbhum', 'Burdwan', 'Nawapara', 'Longleng', 'Paren',
#       'Zunheboto', 'Garhwal Pauri', 'Kistwar', 'Deogarh', 'Ranipet','Chengalpattu', 'Tirupattur', 'Mulugu', 'Cooch Behar', 'Midnapore','Murshidabad', 'Nadia', 'Dhemaji', 'Champhai', 'Bhandara', 'Arwal','Baragarh', 'Bageshwar', 'Darjeeling', 'Hooghly', 'Howrah','Jalpaiguri', 'Malda', 'North 24 Parganas', 'North Dinajpur','Purulia', 'South 24 Parganas', 'South Dinajpur', 'Mahbubnagar',
#       'Rangareddy', 'Hamirpur', 'Gurdaspur', 'Hoshiarpur', 'Muktsar','Alwar', 'Nawanshahar', 'Patiala', 'Bharatpur', 'Chittorgarh','Churu', 'Jalandhar', 'Hanumangarh', 'Jaipur', 'Sonepur','Champawat', 'Dehradun', 'Pauri Garhwal', 'Garhwal Tehri','Haridwar', 'Nainital', 'Kushi Nagar', 'Lalitpur', 'Lucknow','Mahamaya Nagar', 'Maharajganj', 'Mainpuri', 'Mathura', 'Mau',
#       'Muzaffarnagar', 'Pilibhit', 'Kannur', 'Phek', 'Kandhamal','Malkangiri', 'Rayagada', 'Amritsar', 'Neemuch', 'Washim','Buldhana', 'Jaintia Hills', 'Angul', 'Keonjhar', 'East Godavari','Sibsagar', 'Churachandpur', 'Aizwal', 'Jharsuguda', 'Khurda','Sundargarh', 'Fatehgarh Sahib', 'Baran', 'Bundi', 'Dholpur','Rajsamand', 'Deoria', 'Etah', 'Bahraich', 'Ballia', 'Moga',
#       'Barmer', 'South Tripura', 'Sivaganga', 'Thanjavur', 'Aligarh','Madurai', 'Nagapattinam', 'Kanchipuram', 'Chhimtuipui', 'Bijnor','Firozabad', 'Ghaziabad', 'Bulandshahr', 'Ghazipur', 'Gorakhpur','Baghpat', 'Banda', 'Barabanki', 'Allahabad', 'Tiruvannamalai','Gonda', 'Basti', 'Vellore', 'Azamgarh', 'Villupuram', 'Badaun',
#       'Nilgiri', 'Ramanathapuram', 'Namakkal', 'Udaipur', 'Cuddalore','Salem', 'Tiruvarur', 'Trichy', 'Dharmapuri', 'East Garo Hills','Pudukkottai', 'Jaisalmer', 'Kolhapur', 'Sindhudurg', 'Senapati','Mon', 'Sirohi', 'Perambalur', 'Sikar', 'Kanyakumari', 'Sikkim','Pali', 'Chennai', 'Nagaur', 'Etawah', 'Baksa', 'Deoghar','Anuppur', 'Ariyalur', 'Dimapur', 'North Sikkim', 'North Delhi',
#       'Nabarangpur', 'Shivpuri', 'Faridkot', 'Ahmednagar', 'Kapurthala','Nizamabad', 'Mahendragarh', 'Yamunanagar', 'Simla', 'Raichur','Damoh', 'Panna', 'Surat', 'Gurgaon', 'Yavatmal', 'Samastipur','Changlang', 'Golaghat', 'Raipur', 'Kheri', 'Meerut', 'Mirzapur','Moradabad', 'Raebareli', 'Rampur', 'Saharanpur', 'Jalaun','Jyotiba Phule Nagar', 'Kanpur City', 'Kanpur Dehat', 'Hardoi']

In [6]:
city_list_1 = ['Goalpara', 'Hazaribagh', 'Karbi Anglong', 'Raigarh', 'Chittoor',
       'Katni', 'Medak', 'West Godavari', 'West Siang', 'Karimganj',
       'Nagaon', 'Bhabua', 'Madhubani', 'Rohtas', 'Saharsa',
       'Champaran', 'Durg', 'Janjgir - Champa', 'Cuddapah',
       'Nellore', 'Sonipat', 'Mandi', 'Udhampur', 'Doda', 'North Goa',
       'Ahmedabad', 'Kozhikode', 'Broach', 'Dahod', 'Wayanad',
       'Lakshadweep', 'Kutch', 'Mehsana', 'Srinagar', 'Rajkot',
       'Sabarkantha', 'Bhagalpur', 'Gopalganj', 'Jahanabad', 'Munger',
       'Amreli', 'Dangs', 'Narmada', 'Malappuram', 'Palakkad', 'Banswara',
       'Balaghat', 'Nasik', 'Bhilwara', 'Bikaner', 'Gwalior', 'Harda']

In [7]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_1:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_1 = pd.DataFrame(city_data)

In [8]:
city_df_1.head()

  DISTRICTS_NAME   Latitude  Longitude
0       Goalpara  26.178362  90.622668
1     Hazaribagh  23.967515  85.438846
2  Karbi Anglong  26.000000  93.500000
3        Raigarh  22.500000  83.500000
4       Chittoor  13.160105  79.155551

In [9]:
city_list_2 = ['Bokaro', 'Sangli', 'Satara', 'Lohardaga', 'Khandwa',
       'Bangalore Rural', 'Dausa', 'Chikmagalur', 'Satna', 'Sagar',
       'Sheopur', 'Vidisha', 'Krishna', 'Kaithal', 'Vishakhapatnam',
       'Siwan', 'Supaul', 'East Siang', 'Badgam', 'Pulwama', 'Gumla',
       'Santhal Parganas', 'Bidar', 'Bijapur', 'Dharwad', 'Fatehabad',
       'Madhepura', 'Chhatarpur', 'Chhindwara', 'Kurnool', 'Guna',
       'Vizianagaram', 'Warangal', 'Vaishali', 'Lohit', 'Lower Subansiri',
       'Karnal', 'Kurukshetra', 'Dibrugarh', 'Koderma', 'Mahasamund',
       'Nalbari', 'Papumpara', 'Barpeta', 'Jammu', 'Tawang', 'Chandigarh',
       'Upper Subansiri', 'Rohtak', 'Kamrup Rural', 'Koriya',
       'N. C. Hills', 'Adilabad', 'Anantapur', 'Kendrapara', 'Dhubri',
       'Araria', 'East Champaran', 'Kishanganj', 'Purnia', 'Dantewada',
       'Dhamtari', 'Kawardha', 'Diu', 'Bhavnagar', 'Kheda', 'Porbandar',
       'Bhiwani', 'Kullu', 'Lahaul And Spiti', 'Anantnag',
       'West Singbhum', 'Sirsa', 'Gadag', 'Mandya', 'Mysore', 'Gulbarga',
       'Hassan', 'Alapuzha', 'Chamarajanagar', 'Bagalkote', 'Bhopal',
       'Dindori', 'Jhabua', 'Morena', 'Narsinghpur', 'Rewa', 'Shajapur',
       'Umaria', 'Beed', 'Jalgaon', 'Nanded', 'Raigad', 'Thane', 'Wardha',
       'East Khasi Hills', 'Tuensang', 'Delhi', 'Cuttack',
       'Jagatsinghpur', 'Mayurbhanj', 'Nandurbar', 'Sambalpur',
       'Jabalpur', 'Patna', 'Khammam', 'Bathinda',
       'North and Middle Andaman', 'Guntur', 'Prakasam', 'Dibang Valley',
       'Tirap', 'Bongaigaon', 'Lakhimpur', 'Sonitpur', 'Bhojpur',
       'Muzaffarpur', 'Saran', 'Bastar', 'Jashpur', 'Kanker']

In [10]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_2:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_2 = pd.DataFrame(city_data)

In [11]:
city_df_2.head()

  DISTRICTS_NAME   Latitude  Longitude
0         Bokaro  23.654434  86.145644
1         Sangli  16.850253  74.594888
2         Satara  17.646834  73.970252
3      Lohardaga  23.469201  84.735684
4        Khandwa  21.820375  76.355542

In [12]:
city_list_3 = ['Rajnandgaon', 'Anand', 'Gandhinagar', 'Navsari', 'Surendranagar',
       'Hisar', 'Jhajjar', 'Panchkula', 'Panipat', 'Chamba', 'Kangra',
       'Sirmaur', 'Solan', 'Kathua', 'Kupwara', 'Dhanbad',
       'East Singhbhum', 'Pakur', 'Palamau', 'Bangalore Urban',
       'Faridabad', 'Kokrajhar', 'Jamui', 'Chitradurga',
       'Dakshin Kannada', 'Haveri', 'Kodagu', 'Shimoga', 'Ernakulam',
       'Idukki', 'Pathanamthitta', 'Barwani', 'Betul', 'Datia',
       'Hoshangabad', 'Khargone', 'Mandla', 'Raisen', 'Sehore', 'Akola',
       'Chandrapur', 'Dhule', 'Latur', 'Osmanabad', 'Solapur', 'Koppal',
       'Uttar Kannada', 'Kottayam', 'Thrissur', 'West Kameng',
       'Begusarai', 'Gaya', 'Gajapati', 'Banaskantha', 'Jamnagar',
       'Panchmahal', 'Buxar', 'Dewas', 'Katihar', 'Valsad', 'Nalanda',
       'Srikakulam', 'Belgaum', 'East Kameng', 'Sitamarhi', 'Cachar',
       'Bilaspur', 'Hailakandi', 'Auraiya', 'Nicobar', 'Hyderabad',
       'Upper Siang', 'Morigaon', 'Tinsukia', 'Darbhanga', 'Balrampur',
       'Mumbai', 'Sawai Madhopur', 'Parbhani', 'Firozpur', 'Krishnagiri',
       'Dungarpur', 'West Tripura', 'Jalore', 'Jhalawar', 'Kalahandi',
       'Theni', 'Koraput', 'Karauli', 'Kota', 'Nayagarh', 'Puri',
       'Tirunelveli', 'Puducherry', 'Tiruvallur', 'Imphal East', 'Indore',
       'Ludhiana', 'Dhenkanal', 'Surguja', 'Kohima', 'Rajgarh', 'Tonk',
       'Balasore', 'Sidhi', 'Tikamgarh', 'Tumkur', 'Ropar', 'Sangrur']

In [13]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_3:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_3 = pd.DataFrame(city_data)

In [14]:
city_df_3.head()

  DISTRICTS_NAME   Latitude  Longitude
0    Rajnandgaon  21.166667  81.000000
1          Anand  22.558656  72.962723
2    Gandhinagar  23.223288  72.649227
3        Navsari  20.952407  72.932383
4  Surendranagar  22.750000  71.666667

In [15]:
city_list_4 =[ 'Amaravati', 'Erode', 'Karur', 'Shahjahanpur', 'Sonbhadra',
       'Sultanpur', 'Unnao', 'Varanasi', 'Almora', 'Sant Kabir Nagar',
       'Banka', 'Barnala', 'Bishnupur', 'Sheohar', 'Simdega',
       'South Sikkim', 'South Goa', 'Tamenglong', 'Thoubal', 'Garhwa',
       'Kannauj', 'Kaushambi', 'Karimnagar', 'Tuticorin', 'Faizabad',
       'Farrukhabad', 'Virudhunagar', 'North Tripura', 'Agra',
       'Sri Ganganagar', 'Jhansi', 'Ratnagiri', 'Nuapada', 'Jajpur',
       'Godda', 'Dadra & Nagar Haveli', 'Dhar', 'Vadodara', 'Sahebganj',
       'Junagarh', 'Nagpur', 'Coimbatore', 'Ambedkar Nagar', 'Dindigul',
       'Fatehpur', 'Bareilly', 'Jaunpur', 'Mansa', 'Mumbai Suburban',
       'Tapi', 'Udalguri', 'Baramulla', 'Chandel', 'Chirang',]

In [16]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_4:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_4 = pd.DataFrame(city_data)

In [17]:
city_df_4.head()

  DISTRICTS_NAME   Latitude  Longitude
0      Amaravati  16.509668  80.518454
1          Erode  11.369204  77.676627
2          Karur  10.930152  78.084855
3   Shahjahanpur  27.828773  79.824715
4      Sonbhadra  25.124926  84.723000

In [18]:
# Change Value 
# North West Delhi ==> West Delhi // North West Delhi have no longitude and latitude
# Sahuji Maharaj$ Nagar ==> Sahuji Maharaj Nagar  // Spelling Mistake
# North West Delhi ==> East Delhi 
city_list_5 = ['West Delhi', 'Palwal', 'West Midnapore', 'Daman', 'Dhalai',
       'Imphal West', 'Karaikal', 'Kurung Kumey', 'Mewat', 'West Sikkim',
       'Sahuji Maharaj Nagar', 'Sant Ravidas Nagar', 'Shravasti',
       'Siddharth Nagar', 'Sitapur', 'Chamoli', 'Sukma', 'Surajpur',
       'Morbi', 'Devbhoomi Dwarka', 'Agar-Malwa', 'Chhota Udepur',
       'Mahisagar', 'Balod', 'Kondagaon', 'Mungeli', 'Aravalli',
       'Kalaburgi', 'Vijayapura', 'Palghar', 'Toothukudi', 'Baloda Bazar',
       'Amethi', 'Bemetara', 'Gir Somnath', 'Kasargod', 'Nawarangpur',
       'Belagavi', 'Bandipore', 'East Sikkim', 'South Delhi', 'Wokha',
       'Ukhrul', 'Lakhisarai', 'Lawngtlai', 'Narayanpur', 'Nawada',
       'New Delhi', 'East Delhi', 'Poonch', 'Ramban', 'Dumka']

In [19]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_5:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_5 = pd.DataFrame(city_data)

In [20]:
city_df_5.head()

   DISTRICTS_NAME   Latitude  Longitude
0      West Delhi  28.647952  77.085565
1          Palwal  28.176959  77.373112
2  West Midnapore  22.467196  87.175006
3           Daman  20.420005  72.863763
4          Dhalai  23.825316  91.973223

In [21]:
city_list_6 = ['Ganderbal', 'Jamtara', 'Kanshi Ram Nagar', 'Kargil', 'Kiphire',
       'Lunglei', 'Mahe', 'Ramgarh', 'Saiha', 'Seraikela-Kharsawan',
       'Mamit', 'Mokokchung', 'Sas Nagar', 'Serchhip', 'South Andaman',
       'Tiruppur', 'West Garo Hills', 'Yanam', 'Yadgir', 'Kulgam',
       'Mahoba', 'Burhanpur', 'Chandauli', 'Bhadrak', 'Pratapgarh',
       'Alirajpur', 'Rajouri', 'Anjaw', 'Ashoknagar', 'Ramanagara',
       'Samba', 'Chatra', 'Chikballapura', 'Shopian', 'East Delhi',
       'Kallakurichi', 'Thenkasi', 'J Bhupalpally', 'Jangaon',
       'Mahabubabad', 'Mancherial', 'Nagarkurnool', 'Nirmal',
       'Sangareddy', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Y Bhuvanagiri', 'Hapur',
       'Chitrakoot', 'Jogulamba Gadwal', 'Kumaram Bheem', 'Naranyanpet',]

In [22]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_6:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_6 = pd.DataFrame(city_data)

In [23]:
city_df_6.head()

     DISTRICTS_NAME   Latitude  Longitude
0         Ganderbal  34.192763  74.770016
1           Jamtara  23.923287  86.773535
2  Kanshi Ram Nagar  27.830317  78.674972
3            Kargil  34.559442  76.125598
4           Kiphire  25.886730  94.786349

In [24]:
# Change Value 
# South West Delhi ==> South Delhi
# West Delhi ==> North Delhi
# Reason bcoz South West Delhi have no longitude and latitude and West Delhi is already present in above code but North Delhi isn't 
city_list_7 = ['PEDDAPALLE', 'Rajanna Sircilla', 'Jorhat', 'Jhunjhunu', 'Jodhpur',
       'Seoni', 'Davangere', 'Bodhgarh', 'Bolangir', 'Kolar', 'Ujjain',
       'Udupi', 'Ajmer', 'Kasaragod', 'Kollam', 'Rewari', 'Aurangabad',
       'Kinnaur', 'Thiruvananthapuram', 'Una', 'Ganjam', 'Giridih',
       'Gadchiroli', 'Ranchi', 'Patan', 'Khagaria', 'Ambala', 'Bellary',
       'Jind', 'Darrang', 'Korba', 'Ladakh (Leh)', 'North Baramula',
       'Bhind', 'Mandsaur', 'Ratlam', 'Shahdol', 'Gondia', 'Pune',
       'Jalna', 'South Garo Hills', 'Nalgonda', 'Gautam Budh Nagar',
       'Hingoli', 'Kamrup Metropolitan', 'Khunti', 'Kolasib', 'Kolkata',
       'Latehar', 'Lower Dibang Valley', 'Ri Bhoi', 'Reasi', 'Sheikhpura',
       'Singrauli', 'South Delhi', 'Tarn Taran', 'North Delhi',
       'West Khasi Hills', 'Gariaband', 'Botad', 'Kabirdham',
       'East Midnapore', 'Shrawasti Nagar', 'Sambhal', 'Shamli']

In [25]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_7:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_7 = pd.DataFrame(city_data)

In [26]:
city_df_7.head()

     DISTRICTS_NAME   Latitude  Longitude
0        PEDDAPALLE  14.404395  78.958707
1  Rajanna Sircilla  18.452116  78.764558
2            Jorhat  26.757793  94.207965
3         Jhunjhunu  28.128799  75.399258
4           Jodhpur  26.296772  73.035143

In [27]:
city_list_8 = ['B Kothagudem', 'Jagtial', 'M Malkajgiri', 'Siddipet',
       'Pithoragarh', 'Rudraprayag', 'Udham Singh Nagar', 'Uttarkashi',
       'Bankura', 'Birbhum', 'Burdwan', 'Nawapara', 'Longleng', 'Paren',
       'Zunheboto', 'Garhwal Pauri', 'Kistwar', 'Deogarh', 'Ranipet',
       'Chengalpattu', 'Tirupattur', 'Mulugu', 'Cooch Behar', 'Midnapore',
       'Murshidabad', 'Nadia', 'Dhemaji', 'Champhai', 'Bhandara', 'Arwal',
       'Baragarh', 'Bageshwar', 'Darjeeling', 'Hooghly', 'Howrah',
       'Jalpaiguri', 'Malda', 'North 24 Parganas', 'North Dinajpur',
       'Purulia', 'South 24 Parganas', 'South Dinajpur', 'Mahbubnagar',
       'Rangareddy', 'Hamirpur', 'Gurdaspur', 'Hoshiarpur', 'Muktsar',
       'Alwar', 'Nawanshahar', 'Patiala', 'Bharatpur', 'Chittorgarh',
       'Churu', 'Jalandhar', 'Hanumangarh', 'Jaipur', 'Sonepur',
       'Champawat', 'Dehradun', 'Pauri Garhwal', 'Garhwal Tehri',
       'Haridwar', 'Nainital', 'Kushi Nagar', 'Lalitpur', 'Lucknow',
       'Mahamaya Nagar', 'Maharajganj', 'Mainpuri', 'Mathura', 'Mau',
       'Muzaffarnagar', 'Pilibhit', 'Kannur', 'Phek', 'Kandhamal',
       'Malkangiri', 'Rayagada', 'Amritsar', 'Neemuch', 'Washim',
       'Buldhana', 'Jaintia Hills', 'Angul', 'Keonjhar', 'East Godavari',
       'Sibsagar', 'Churachandpur', 'Aizwal', 'Jharsuguda', 'Khurda',
       'Sundargarh', 'Fatehgarh Sahib', 'Baran', 'Bundi', 'Dholpur',
       'Rajsamand', 'Deoria', 'Etah', 'Bahraich', 'Ballia', 'Moga',
       'Barmer', 'South Tripura', 'Sivaganga', 'Thanjavur', 'Aligarh',
       'Madurai', 'Nagapattinam', 'Kanchipuram', 'Chhimtuipui', 'Bijnor',
       'Firozabad', 'Ghaziabad', 'Bulandshahr', 'Ghazipur', 'Gorakhpur',
       'Baghpat', 'Banda', 'Barabanki', 'Allahabad', 'Tiruvannamalai']

In [28]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_8:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_8 = pd.DataFrame(city_data)

In [29]:
city_df_8.head()

  DISTRICTS_NAME   Latitude  Longitude
0   B Kothagudem  17.545631  80.611616
1        Jagtial  18.795663  78.916240
2   M Malkajgiri  17.451176  78.536900
3       Siddipet  18.101774  78.852013
4    Pithoragarh  29.585871  80.215167

In [30]:
city_list_9 = ['Gonda', 'Basti', 'Vellore', 'Azamgarh', 'Villupuram', 'Badaun',
       'Nilgiri', 'Ramanathapuram', 'Namakkal', 'Udaipur', 'Cuddalore',
       'Salem', 'Tiruvarur', 'Trichy', 'Dharmapuri', 'East Garo Hills',
       'Pudukkottai', 'Jaisalmer', 'Kolhapur', 'Sindhudurg', 'Senapati',
       'Mon', 'Sirohi', 'Perambalur', 'Sikar', 'Kanyakumari', 'Sikkim',
       'Pali', 'Chennai', 'Nagaur', 'Etawah', 'Baksa', 'Deoghar',
       'Anuppur', 'Ariyalur', 'Dimapur', 'North Sikkim', 'North Delhi',
       'Nabarangpur', 'Shivpuri', 'Faridkot', 'Ahmednagar', 'Kapurthala',
       'Nizamabad', 'Mahendragarh', 'Yamunanagar', 'Simla', 'Raichur',
       'Damoh', 'Panna', 'Surat', 'Gurgaon', 'Yavatmal', 'Samastipur',
       'Changlang', 'Golaghat', 'Raipur', 'Kheri', 'Meerut', 'Mirzapur',
       'Moradabad', 'Raebareli', 'Rampur', 'Saharanpur', 'Jalaun',
       'Jyotiba Phule Nagar', 'Kanpur City', 'Kanpur Dehat', 'Hardoi']

In [31]:
def get_lat_lon(city):
    geolocator = Nominatim(user_agent="city_geocoder")
    location = geolocator.geocode(city)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

city_data = []
for city in city_list_9:
    lat, lon = get_lat_lon(city)
    city_data.append({'DISTRICTS_NAME': city, 'Latitude': lat, 'Longitude': lon})

city_df_9 = pd.DataFrame(city_data)

In [32]:
city_df_9.head()

  DISTRICTS_NAME   Latitude  Longitude
0          Gonda  27.250000  82.000000
1          Basti  27.250000  83.000000
2        Vellore  12.794811  79.000641
3       Azamgarh  25.990375  83.191152
4     Villupuram  11.950684  79.512141

In [33]:
# Merge all the df to combine in single dataframe

dfs =[city_df_1,city_df_2,city_df_3,city_df_4,city_df_5,city_df_6,city_df_7,city_df_8,city_df_9]
df_city_lati_longi = pd.concat(dfs, ignore_index=True)

In [34]:
df_city_lati_longi.head(100)

     DISTRICTS_NAME   Latitude  Longitude
0          Goalpara  26.178362  90.622668
1        Hazaribagh  23.967515  85.438846
2     Karbi Anglong  26.000000  93.500000
3           Raigarh  22.500000  83.500000
4          Chittoor  13.160105  79.155551
..              ...        ...        ...
95          Barpeta  26.341422  91.016743
96            Jammu  32.718561  74.858092
97           Tawang  27.587919  91.863733
98       Chandigarh  30.733442  76.779714
99  Upper Subansiri  28.300000  94.000000

[100 rows x 3 columns]

In [35]:
df_city_lati_longi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DISTRICTS_NAME  700 non-null    object
 1   Latitude        684 non-null    float64
 2   Longitude       684 non-null    float64
dtypes: float64(2), object(1)
memory usage: 16.5+ KB

In [36]:
# Merge the df and Newly created dataset into single dataframe called merged_df

merged_df = pd.merge(df, df_city_lati_longi, on=['DISTRICTS_NAME'], how='outer')

In [37]:
merged_df.head()

,INDIAN_STATES_NAME,DISTRICTS_NAME,﻿DATE,FREQUENCY,VARIABLE_NAME,VALUE,VARIABLE_NOTES,Latitude,Longitude
0,Assam,Goalpara,2012-06,Monthly,Rainfall (mm.),797.9,The District Rainfall in millimeters are the ...,26.178362,90.622668
1,Assam,Goalpara,2008-03,Monthly,Rainfall (mm.),142.7,The District Rainfall in millimeters are the ...,26.178362,90.622668
2,Assam,Goalpara,2010-03,Monthly,Rainfall (mm.),52.4,The District Rainfall in millimeters are the ...,26.178362,90.622668
3,Assam,Goalpara,2010-06,Monthly,Rainfall (mm.),612.0,The District Rainfall in millimeters are the ...,26.178362,90.622668
4,Assam,Goalpara,2011-06,Monthly,Rainfall (mm.),407.2,The District Rainfall in millimeters are the ...,26.178362,90.622668

In [38]:
# find all the infomation about columns

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190142 entries, 0 to 190141
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INDIAN_STATES_NAME  190140 non-null  object
 1   DISTRICTS_NAME      190142 non-null  object
 2   ﻿DATE               190140 non-null  object
 3   FREQUENCY           190140 non-null  object
 4   VARIABLE_NAME       190140 non-null  object
 5   VALUE               190140 non-null  float64
 6   VARIABLE_NOTES      190140 non-null  object
 7   Latitude            186004 non-null  float64
 8   Longitude           186004 non-null  float64
dtypes: float64(3), object(6)
memory usage: 13.1+ MB

In [39]:
#merged_df.to_excel("df_final_1.xlsx")

In [40]:
merged_df["Latitude"].unique

<bound method Series.unique of 0         26.178362
1         26.178362
2         26.178362
3         26.178362
4         26.178362
            ...
190137    27.416472
190138    27.416472
190139    27.416472
190140    27.000000
190141          NaN
Name: Latitude, Length: 190142, dtype: float64>

In [41]:
# Drop rows with NaN values

indices_to_drop = []
for index, row in merged_df.iterrows():
    if row.isna().any():
        indices_to_drop.append(index)

        
df_cleaned = merged_df.drop(indices_to_drop)

In [42]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186003 entries, 0 to 190139
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INDIAN_STATES_NAME  186003 non-null  object
 1   DISTRICTS_NAME      186003 non-null  object
 2   ﻿DATE               186003 non-null  object
 3   FREQUENCY           186003 non-null  object
 4   VARIABLE_NAME       186003 non-null  object
 5   VALUE               186003 non-null  float64
 6   VARIABLE_NOTES      186003 non-null  object
 7   Latitude            186003 non-null  float64
 8   Longitude           186003 non-null  float64
dtypes: float64(3), object(6)
memory usage: 14.2+ MB

In [43]:
# Save a clean data

df_cleaned.to_excel("df_final_result.xlsx")